/*
colors:
light blue #8DBFC9
grey bkgrd #16262F
darker bkgrd #121e26
*/

/*
BODY
*/
body {
    background: #16262F;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height:100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    height: 100%;
}

/*
CONTAINER AND GRID LAYOUT
*/
div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "msgs add sidebar"
    "msgs list sidebar";
}

div.add {
    color: #8DBFC9;
    text-align: center;
    grid-area: add;
}

div.msgs {
    color: #8DBFC9;
    text-align: center;
    grid-area: msgs;
    background-color: #121e26;

}

div.list {
    color: #8DBFC9;
    text-align: center;
    grid-area: list;
}

div.sidebar {
    color: #8DBFC9;
    text-align: center;
    grid-area: sidebar;
    background-color: #121e26;
}
/*
STYLE FOR THE ADD FRIENDS SECTION
*/

.add-friend-body .heading{
    color: #8DBFC9;
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.add-friend-body .search {
    position: relative;
}

.add-friend-body .search img{
    position: absolute;
    width: 20px;
    top: 15px;
    left: 40px;
}

.add-friend-body .search input {
    border: none;
    outline: none;
    margin: 0 25px 25px 25px;
    width: calc(100% - 150px);
    font-size: 16px;
    color: #8DBFC9;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 50px;
    border-radius: 40px;
}

.add-friend-body .search input::placeholder{
    color: background-color: rgba(255, 255, 255, 0.5);
}

/*
STYLE FOR THE DMS/MSGS
*/

.msg-body .heading{
    color: #8DBFC9;
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.user-row {
    margin: 20px 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.user-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.user-info span {
    margin: 20px 0;
    color: #8DBFC9;
    font-weight: bold;
}

.user-info img {
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

/*
STYLE FOR THE MAIN FRIENDS LIST
*/
.friends-list-body .heading{
    color: #8DBFC9;
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.list-user-row {
    margin: 20px 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.list-user-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-user-info span {
    margin: 20px 0;
    color: #8DBFC9;
    font-weight: bold;
}

.list-user-info img {
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}


/*
STYLE FOR THE SIDE BAR
*/

.sidebar .sidebar-buttons {
    overflow: hidden;
}

.sidebar .sidebar-buttons a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    background-color: #16262F;
}

.sidebar .sidebar-buttons a:hover {
    background-color: #ddd;
    color: black;
}

.sidebar .sidebar-buttons a:active{
    background-color: #071A52;
    color: white;
}
.sidebar button{
    background-color:#071A52;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 17px;
    margin-bottom:10px;
    display: block;
  }

/*
TOPNAV BAR
*/
div.topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  div.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  div.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  div.topnav a.active {
    background-color: #071A52;
    color: white;
  }
  