
div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
    "add list pending";
}

div.list {
    margin: 30px auto;
    color: #8DBFC9;
    text-align: center;
    grid-area: list;
    border: 2px solid #8DBFC9;
}

div.add {
    margin: 30px auto;
    color: #8DBFC9;
    text-align: center;
    grid-area: add;
    border: 2px solid #8DBFC9;
}

div.pending {
    margin: 30px auto;
    color: #8DBFC9;
    text-align: center;
    grid-area: pending;
    border: 2px solid #8DBFC9;
}

body {
    background: #16262F;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
}

div.topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  div.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  div.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  div.topnav a.active {
    background-color: #071A52;
    color: white;
  }
  button{
    background-color:#071A52;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 17px;
    margin-bottom:10px;
    display: block;
  }