/*
colors:
light blue #8DBFC9
grey bkgrd #16262F
darker bkgrd #121e26
*/

/*
BODY
*/
body {
    background: #16262F;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height:100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

/*
CONTAINER AND GRID LAYOUT
*/
div.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "msgs add sidebar"
    "msgs board sidebar";
}

div.message {
    color: #8DBFC9;
    text-align: center;
    grid-area: add;
}

div.msgs {
    color: #8DBFC9;
    text-align: center;
    grid-area: msgs;
    background-color: #121e26;

}

div.board {
    color: #8DBFC9;
    text-align: center;
    grid-area: board;
    background-color: #1b2e3a;
}

div.sidebar {
    color: #8DBFC9;
    text-align: center;
    grid-area: sidebar;
    background-color: #121e26;
}
/*
STYLE FOR THE MESSAGING SECTION
*/

.message-body .heading{
    color: #8DBFC9;
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    font-weight: bold;
}

/*
STYLE FOR THE DMS/MSGS
*/

.msg-body .heading{
    color: #8DBFC9;
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.user-row {
    margin: 20px 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.user-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.user-info span {
    margin: 20px 0;
    color: #8DBFC9;
    font-weight: bold;
}

.user-info img {
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info a:hover {
    background-color: #ddd;
    color: black;
}

.user-info a:active{
    background-color: #071A2;
}


/*
STYLE FOR THE MAIN FRIENDS TEXTS
*/
.friends-board-body .heading{
    color: #8DBFC9;
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
}

.board-user-row {
    margin: 20px 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.friends-board-body .send {
    position: relative;
}

.friends-board-body .send input {
    border: none;
    outline: none;
    margin: 400px 25px 0px 25px;
    width: calc(100% - 150px);
    font-size: 16px;
    color: #8DBFC9;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 5px;
    border-radius: 40px;
}

.friends-board-body .send input::placeholder{
    color: background-color: rgba(255, 255, 255, 0.5);
}


/*
STYLE FOR THE SIDE BAR
*/

.sidebar .sidebar-buttons {
    overflow: hidden;
}

.sidebar .sidebar-buttons a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    background-color: #16262F;
}

.sidebar .sidebar-buttons a:hover {
    background-color: #ddd;
    color: black;
}

.sidebar .sidebar-buttons a:active{
    background-color: #071A52;
    color: white;
}
.sidebar button{
    background-color:#071A52;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 17px;
    margin-bottom:10px;
    display: block;
  }

/*
TOPNAV BAR
*/
div.topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  div.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  div.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  div.topnav a.active {
    background-color: #071A52;
    color: white;
  }
  button{
    background-color:#071A52;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 17px;
    margin-bottom:10px;
    display: block;
  }