/*
This is the container for the sections
*/

html {
  height: auto;
}


div.container {
  display: grid;
  width: 100%;
  min-height: 100%;
  color: black;
  grid-template-columns: 8ch auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "head head head"
    "panleft panleft panright"
    "panleft panleft panright"
    "bottom bottom bottom";
}


table{
  *background-color: #16262F;
  color:#8DBFC9;
}


td{
  color:#8DBFC9;
}

tr{
  color: aliceblue;
}

div.header {
  margin: 30px auto;
  color: #8DBFC9;
  text-align: center;
  grid-area: head;
}

div.panel.right {
  margin: 30px auto;
  color: #8DBFC9;
  text-align: center;
  grid-area: panright;
  border: 2px solid #8DBFC9;
}

div.panel.left {
  margin: 30px;
  margin-left: 60px;
  width: 500px;
  grid-area: panleft;
  min-height: 300px;
  text-align: center;
  border: 2px solid #8DBFC9;
  overflow: hidden;
}

div.footer {
  margin: 0 auto;
  max-height: 350px;
  height: 100%;
  width: 75%;
  line-height: 0.01pt;
  grid-area: bottom;
  text-align: center;
  border: 2px solid #8DBFC9;
  color:#8DBFC9;
}

#points {
  border-top: solid 3px #8DBFC9;
}

#points p{
  margin-left: 25px;
  height: 100%;
  margin-bottom: 10%;
  font-size: 150%;
}

#prioritySelect {
  color:#8DBFC9;
}


/* This is the TO-DO list css */

#dropDown {
  width: auto;
  margin: 10px;
  border: #8DBFC9;
  background-color: #16262F;
  color: #8DBFC9;
  font-size: 90%;
}

#dateSelect {
  text-align: left;
  margin-left: 5%;
}

#datePick {
  width: 75%;
  text-align: center;
  margin-left: 12.5%;
}

#datePick p {
  color: #8DBFC9;
}

div.tasks {
  /*display: flex;
  flex-direction: row;
  */
  border-bottom: 2px solid #8DBFC9;
}

.add {
  display:inline;
  width: 30%;
  margin: 10px;
  border: #8DBFC9;
  background-color: #16262F;
  color: #8DBFC9;
  font-size: 90%;
}

#dateSort {
  display:inline;
  width: 20%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 75px;
  border: #8DBFC9;
  background-color: #16262F;
  color: #8DBFC9;
  font-size: 80%;
}

#prioritySort {
  display:inline;
  width: 20%;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 75px;
  border: #8DBFC9;
  background-color: #16262F;
  color: #8DBFC9;
  font-size: 80%;
}


#input {
  background-color: #16262F;
  color: #8DBFC9;
  margin: 0 0 10px 10px;
  width: 75%;
  padding: 10px;
  font-size: 70%;
  border: solid 1px #8DBFC9;
  border-color: #8DBFC9;
}

.list_wrap {
  /*position: absolute;
  width: 15%;
  */
  overflow-y: auto;

}

.delete {
  margin-left: 15px;
  float: right;
}

.complete {
  margin-left: 35px;
  float: right;
}

.list {
  color: #8DBFC9;
  margin-left: 40px;
  width: 100%;
}

li {
  width: 90%;
  text-align: left;
}

.todo {
  font-size: 200%;
  color: #8DBFC9;
  border-bottom: solid #8DBFC9;
  width: 100%;
}

#todo_list {
  width: 80%;
}
/* finished TO-DO list css */

div.mainbody {
  margin: 30px;
  color:#8DBFC9;
  text-align: center;
  grid-area: mainbody;
  border: 2px solid #8DBFC9;
}
body {
  background: #16262F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height:100%;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
  color: #8DBFC9;

}

/*
general stuff
*/
.p{
  font-size: 18px;
  color: #8DBFC9;
}

/*
This is the Top Nav Bar stuff
*/
div.topnav {
  overflow: hidden;
  background-color: #000000;
}

div.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

div.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div.topnav a.active {
  background-color: #071A52;
  color: white;
}
button{
  background-color:#071A52;
  color: white;
  height: 50px;
  width: 200px;
  font-size: 17px;
  margin-bottom:10px;
  /*display: block;
  */
}
