div.container {
  display: grid;
  width: 100%;
  height: 100%;
  color:black;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "head head head"
    "panleft mainbody mainbody"
    "panleft foot foot";
}
div.header {
  margin: 30px auto;
  color: black;
  text-align:center;                         
  grid-area: head;  
  border: 2px solid black;              
}
div.footer {
  margin: 30px;
  color: black;
  text-align:center;
  grid-area: foot;
  border: 2px solid black;
}
div.panel {                            
}
div.panel.left {    
  grid-area: panleft;
  text-align:center;
  border: 2px solid black;
}
div.mainbody {
  margin: 30px;
  color:black;
  text-align:center;
  grid-area: mainbody;
  border: 2px solid black;
}
body {
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  height:100%;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

.p1{
  font-size: 18px;
}